.header {
    &__title {
        font-weight: bold;
        color: #434a55;
        font-size: 18px;
        margin: 3px 0px;
        @media  only screen and (max-width: 648px) {
            font-size: 14px;
        }
    }
    &__img {
        width: 100%;
    }
    &__ending {
        font-weight: lighter;
        font-size: 15px;
        color: #434a55;
        text-align: left;
        margin-top: 0px;
        @media only screen and (max-width: 350px) {
            font-size: 12px;
        }
    }
}