
.App {
  max-width:650px;
  width:100%;
  height:550px;
  padding:5px 75px;
  margin:0px auto;
  background-color: #f1f2f6;
  text-align: center;
  font-family: 'open sans', sans-serif;
  @media only screen and (max-width: 540px) {
      padding:5px 20px;
  }
}







